:root {
    --bg-color: #F8F8F8;
    --bg-navbar-color: #578FE1;
    --bg-navbar-color-2: #4788e9;
    --btn-color: #3d8bff;
    --btn-color-2: #2079ff;
    --search-lg-input-w: 430px;
    --search-md-input-w: 250px;
    --font-size-biggest: 21px;
    --font-size-bigger: 18px;
    --font-size-big: 16px;
    --font-size: 14px;
    --font-size-small: 12px;
    --font-size-smaller: 9px;
    --menu-item-color: #F8D43A;
    --text-color: #1b1b1b;
    --discount-status-color: #ED1C24;
    --bg-keyword-color: #EFEFEF;
    --bg-footer-2: #EFEFEF;
    --text-color: #1E1E1E;
    --breadcrumb-color: #141414;
    --bg-card-header: #EFF6FF;
}

.text-blue-2 {
    color: var(--bg-navbar-color);
}

.bg-blue {
    background-color: var(--bg-navbar-color-2);
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: var(--font-size-small);
}

.font-14 {
    font-size: var(--font-size);
}

.font-18 {
    font-size: var(--font-size-bigger);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

/* Header */
.header {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .1);
}

.app-navbar {
    background-color: var(--bg-navbar-color);
}

.branch-input {
    font-size: var(--font-size);
}

.branch-input option {
    font-size: var(--font-size);
}

.search-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.search-input input {
    width: 100%;
    text-align: center;
    font-size: var(--font-size);
    border: 0;
}

.search-input input:focus {
    outline-style: none;
}

.header-menu {
    display: flex;
    justify-content: center;
}

.header-menu-item {
    font-size: var(--font-size);
    text-align: center;
    color: var(--menu-item-color);
}

.header-menu-item p {
    margin: 0;
}

.header-menu-item:hover {
    color: white;
}

.header-bar-item {
    font-size: var(--font-size);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-bar-item:hover {
    text-decoration: none;
}

/*Gio hang */
.quantity-wrapper {
    display: flex;
}

.quantity-wrapper input[type=number]::-webkit-inner-spin-button,
.quantity-wrapper input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.quantity-wrapper input,
.quantity-wrapper button {
    width: 22px;
    font-size: var(--font-size-small);
    text-align: center;
    background: white;
    border: 1px solid #aaa;
}

.quantity-wrapper input {
    border-left: none;
    border-right: none;
}

.bg-cart-header {
    background-color: #EFF6FF !important;
}

.bg-secondary-yellow {
    background-color: #FFF8DC;
}

.cart-image{
    border: 1px solid var(--bg-navbar-color);
    padding: 0;
}

.cart-image a{
    position: absolute;
    top: -15px;
    right: -8px;
}

.cart-image a i{
    border: 1px solid var(--bg-navbar-color);
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    padding: 3px;
}

.btn-plus i{
    border-radius: 20px;
}

.btn-order{
    background-color: #EFA625;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* San pham */
.product-discount {
    display: block;
}

.product-discount .bg-discount {
    height: 74px;
    background-image: url(../assets/product_group.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
}

.product {
    border-radius: 0px !important;
}

.product-option .nav-link {
    border: 1px solid #707070;
    border-radius: 3px;
}

.product-option .nav-link p {
    color: var(--text-color);
}

.product-option .nav-link.active,
.product-option .nav-link:active {
    border: 1px solid #ED1C24;
    border-radius: 3px;
    font-weight: bold;
}

.btn-order {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#EFA625, #FF8800);
}

.product .product-img {
    height: 73px;
    border: 1px solid var(--bg-navbar-color);
}

.product .discount {
    border: 2px solid var(--bg-card-header);
}

.product .discount .card-header {
    background-color: var(--bg-card-header);
}

span.step {
    font-size: 10px;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    color: white;
    text-align: center;
}

.product:focus,
.product.focus {
    border-radius: 0px !important;
    border-color: var(--bg-navbar-color);
}

.product .discount-status-red {
    font-size: 11px;
    border-radius: 10px;
    padding: 0;
    height: 20px;
    padding-right: 5px;
    color: white;
    background-color: var(--discount-status-color);
}

.product .discount-status-blue {
    font-size: 11px;
    border-radius: 10px;
    padding: 0;
    height: 20px;
    padding-right: 5px;
    color: white;
    background-color: var(--bg-navbar-color);
}

.product .discount-status-none {
    visibility: hidden;
}

.product .discount-status-red span {
    font-size: 10px;
    margin: 0;
    color: var(--bg-navbar-color);
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    margin-right: 4px;
    background-color: var(--menu-item-color);
}

.product .discount-status-blue span {
    font-size: 10px;
    margin: 0;
    color: var(--bg-navbar-color);
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    margin-right: 4px;
    background-color: var(--menu-item-color);
}

.product .product-name {
    font-size: var(--font-size);
    color: var(--text-color);
    height: 42px;
    text-decoration: none;
}

.product .product-name:hover {
    text-decoration: none;
}


.product .product-price {
    font-size: var(--font-size-big);
}

.product .product-d-none {
    visibility: hidden;
}

.product .product-d-price {
    font-size: var(--font-size);
    text-decoration-line: line-through;
}

.product .product-d-discount {
    font-size: var(--font-size);
}

.product .product-star {
    color: var(--menu-item-color);
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.product .product-cmt {
    font-size: var(--font-size-small);
    margin-top: 10px;
    margin-left: 5px;
}

/* Chi tiet san pham */
.product-name {
    font-size: var(--font-size-biggest);
}

.cmt-num {
    font-size: var(--font-size-bigger);
}

.btn-socials a {
    background-color: var(--btn-color-2);
    color: white;
    border-radius: 5px;
}

.btn-socials a:hover {
    background-color: var(--btn-color);
    text-decoration: none;
    color: white;
}


.btn-more {
    font-size: var(--font-size);
    color: var(--bg-navbar-color);
    border: 1px solid var(--bg-navbar-color);
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
}

.btn-more:hover {
    color: white;
    border: 1px solid var(--bg-navbar-color);
    background-color: var(--bg-navbar-color);
    border-radius: 5px;
    text-decoration: none;
}

.btn-more.focus,
.btn-more:focus {
    color: white;
    border: 1px solid var(--bg-navbar-color-2);
    background-color: var(--bg-navbar-color-2);
    border-radius: 5px;
    text-decoration: none;
}

.btn-more.active,
.btn-more:active {
    color: white;
    border: 1px solid var(--bg-navbar-color-2);
    background-color: var(--bg-navbar-color-2);
    border-radius: 5px;
    text-decoration: none;
}

.btn-send {
    position: absolute;
    /* width: 64px;
    height: 40px; */
    bottom: 10px;
    right: 10px;
}

/* Footer */
.keywords h6 {
    font-size: var(--font-size);
    font-weight: normal;
}

.keywords .keyword {
    margin: 6px;
    background-color: var(--bg-keyword-color);
}

.keywords .keyword p {
    font-size: var(--font-size);
    margin: 0;
}

.footer-1 {
    border-top: 1px solid rgb(182, 182, 182);
    box-shadow: 0 1px 0 0 rgb(182, 182, 182) inset;
    background-color: white;
}

.footer-1 .flex-column p {
    font-size: var(--font-size);
}

.footer-1 .flex-column a {
    font-size: var(--font-size);
}

.footer-1 .flex-column td span {
    font-size: 14px;
}

.footer-1 .social span {
    font-size: 13px;
    color: var(--bg-navbar-color);
}


.footer-1 .logo {
    width: 205px;
    height: auto;
}

.footer-1 .contact-icon {
    width: 120px;
    height: auto;
}

.footer-2 {
    background-color: var(--bg-color);
    padding: 10px;
}

.footer-2 p {
    font-size: 10px;
    margin: 5px 0;
}

.footer-2 .top-up {
    padding: 6px;
    width: 36px;
    height: 36px;
    color: white;
    text-align: center;
    background-color: var(--bg-navbar-color);
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* .branch-input {
        width: 100% !important;
    } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .form-group {
        width: 100%;
    }

    .branch-input {
        width: 100% !important;
        text-align: center;
    }

    .main-reverse {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .search-input {
        width: var(--search-md-input-w);
    }

    .header-menu {
        justify-content: center;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .search-input {
        width: var(--search-lg-input-w);
    }
}