.cate-nav .item:hover,
.cate-nav .item:focus {
    outline: none;
}

.product-item,
.product-item .img,
.product-item .img:focus,
.product-item .img:hover {
    outline: none;
}

.section-notfound .not-found .btn-page {
    white-space: nowrap;
}

#searchsubmit,
#searchsubmit:hover,
#searchsubmit:focus,
#searchsubmit:active {
    outline: none;
    box-shadow: none;
}

.product-grid-list {
    width: 100%;
}

.woocommerce-Price-amount.amount span{
    margin-left: 0 !important;
}