/*Chị Nhung sửa 27/7*/
.bg-cart-header {
    border: 0px !important;
}
.cart-form .form-control {
    border: 1px solid #e8e8e8;

}
.quantity-wrapper input ,
.quantity-wrapper .increment, .quantity-wrapper .decrement {
    border: 1px solid #e2e2e2;
    border-radius: 0px;
}
.footer-1 {
    border-top: 1px solid #f8f8f8;
}
.card.discount .card-body,
.border.rounded.font-14 {
    border: 1px solid #f0f0f0;
}
#tabContent .font-14.show-hide-text{
	padding: 0px !important;
}
.pb-3.d-flex.justify-content-center a{
	    width: 470px !important;
    max-width: 90%;
}
h5.py-4.font-18.mb-0 {
	padding: 16px 0px !important;
}
.btn-more.px-5.py-2 a i{
	margin-left: 7px !important;
}
.btn-more.px-5.py-2{
	width: 125px;
    padding: 7px 13px !important;
}
.keywords .keyword, .keywords .keyword:hover {
    width: calc(25% - 6px);
}
.container.py-4.px-0{
	    padding: 0px !important;
}
#reviews #comments{
	padding: 16px 0px !important;
    font-size: 1.25rem;
    margin-bottom: 0px;
}
.comment-form input,.comment-form textarea{
	border-color: #e2e0e0 !important;
}
.progress {
	background: rgb(239 166 37 / .3);
}
.stars a:hover{
	color: #efa625;
}
/*.product{
	border-color: #F8F8F8 !important;
}*/
.row.list_product,.owl-carousel {
	    border-bottom: 1px solid #F8F8F8;
    border-left: 1px solid #F8F8F8;
}
.row.list_product .product ,.owl-carousel .product {
    border-bottom: 0px !important;
    border-color: #F8F8F8 !important;
    overflow: hidden;
}
.keyword{
	transition: all .5s;
}
.keywords .keyword:hover{
	background: #578fe1;
	color: #fff;
}
.card-body.p-0.d-flex.flex-wrap.list-product{
	border-left: 1px solid #eee !important;
}