@import url("variables.css");
@import url("header.css");
@import url("footer.css");

html {
    scroll-behavior: smooth;
}

body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    outline: none;
    min-height: 100vh;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 14px;
}

p {
    margin-bottom: .7rem;
}

a {
    text-decoration: none;
}

a p{
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}
.home {
    background-color: #F8F8F8 !important;
}

#more {
    display: none;
}

.header-s-menu:last-child {
	border-right: unset !important;
}

.text-dark {
    color: #333 !important;
}

/*Lọc sản phẩm  */
.banner img {
    height: 204px;
    width: 100%;
}

.breadcrumb-section {
    margin: 20px auto;
    margin-top: 10px;
}

.breadcrumb-left {
    background-color: transparent !important;
    padding: 0;
    align-items: center;
}

.breadcrumb-left .breadcrumb-item,
.breadcrumb-left .breadcrumb-item a {
    font-size: var(--font-size);
    color: #333;
}

.breadcrumb-left .breadcrumb-item:hover a {
    text-decoration: none;
}

.breadcrumb-left .breadcrumb-item.active {
    color: var(--text-color);
    font-size: var(--font-size);
}


.breadcrumb-left .breadcrumb-item+.breadcrumb-item::before {
    content: "»";
    vertical-align: baseline;
    color: var(--breadcrumb-color);
    font-size: var(--font-size-big);
}

.main-reverse {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
}

.order-card {
    border: none !important;
}

.order-card .card-header {
    border-bottom: 1px solid var(--bg-navbar-color);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: .75rem 0;
}

.order-options {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-items: center;
    font-size: var(--font-size);
}

.order-options span.font-weight-bold {
    font-size: var(--font-size);
}

.order-options .c-radio-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-options .c-radio-inline .c-radio-label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: var(--font-size);
    margin-left: 30px;
    margin-bottom: 0;
}

.order-options .c-radio-inline .c-radio-label:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 2px;
    z-index: 5;
    cursor: pointer;
    font-size: var(--font-size);
    width: 16px;
    height: 16px;
    border: 1px solid var(--text-color-2);
    border-radius: 50%;
}

.order-options input:checked~.c-radio-label:before {
    content: "";
    border: 1px solid #ED1C24;
    background-color: #ED1C24;
    box-shadow: inset 0px 0px 0px 4px white;
}

.order-options .c-checkbox-inline .c-checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: var(--font-size);
    margin-left: 24px;
    color: var(--text-color-2);
}

.order-options .c-checkbox-inline .c-checkbox-label:before {
    content: "";
    position: absolute;
    left: -24px;
    top: 2px;
    z-index: 5;
    cursor: pointer;
    font-size: var(--font-size);
    width: 16px;
    height: 16px;
    border: 1px solid #707070;
    border-radius: 15%;
}

.order-options input:checked~.c-checkbox-label:before {
    content: "";
    border: 1px solid var(--bg-navbar-color-2);
    background-color: var(--bg-navbar-color-2);
}

.order-options input:checked~.c-checkbox-label:after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    position: absolute;
    color: white;
    left: -21px;
    bottom: 5px;
    z-index: 6;
    cursor: pointer;
    font-size: var(--font-size);
    width: 10px;
    height: 10px;
}
.order-options .filter-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Khuyến mãi nổi bật*/
.product-discount {
    display: block;
    margin-top: 2rem;
}

.n-carousel {
    background-color: #393939;
}

.news-owl-carousel .h-news .nv-title {
    color: white;
    font-size: var(--font-size-bigger);
}

.news-owl-carousel .h-news img {
    color: white;
    font-size: var(--font-size-bigger);
    height: 348px;
    width: 546px;
}

.h-news div.d-flex {
    position: relative;
}

.h-news div.d-flex .hash-tags{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.h-news img.hn-img {
    max-height: 176px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.h-136 {
    height: 136px !important;
}

.h-news .nv-title {
	text-align: left;
}

.h-news .nv-body {
    font-size: var(--font-size);
}

.h-news .nv-body, .h-news .nv-body p, .h-news .nv-body span{
    font-size: var(--font-size) !important;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
}

.ccp-body p, .ccp-body i, .ccp-body strong{
	-webkit-line-clamp: 3 !important;
    margin-bottom: 5px !important;
}

/*Gio hang */
#cart-form .list-product .p-ordering {
    border-bottom: 1px solid #D1D1D1;
}

#cart-form .list-product .p-ordering:last-child {
    border-bottom: none !important;
}

#cart-form p.cart-title {
    text-align: left;
    font-size: var(--font-size);
    letter-spacing: 0px;
    color: #141414;
    opacity: 1;
    text-align: left;
}

.quantity-wrapper {
    display: flex;
}

.quantity-wrapper input[type=number]::-webkit-inner-spin-button,
.quantity-wrapper input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.quantity-wrapper input {
    width: 24px;
    font-size: var(--font-size-small);
    text-align: center;
    background: white;
    border: 1px solid #aaa;
}

.quantity-wrapper .increment,
.quantity-wrapper .decrement {
    border: 1px solid #aaa;
    width: 30px;
    text-align: center;
    font-size: var(--font-size);
    padding: 0 6px;
    color: #aaa;
}

.quantity-wrapper .increment:hover,
.quantity-wrapper .decrement:hover {
    text-decoration: none;
    opacity: 0.8;
}

.quantity-wrapper .increment {
    font-weight: 900;
}

.bg-cart-header {
    display: flex;
    align-items: center;
    background-color:  #FFF8DC !important;
    border-bottom: unset;
}

.bg-cart-header span {
    color: #4D4D4D;
}

.bg-cart-header img:first-child {
    color: #4D4D4D;
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

.bg-secondary-yellow {
    background-color: #FFF8DC;
}

.cart-image {
    position: relative;
    border: 1px solid var(--bg-navbar-color);
    padding: 0;
}

.cart-image a {
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    top: -9px;
    right: -11px;
    z-index: 1;
}

.cart-image a:hover {
    text-decoration: none;
    transform: scale(1.2);
}


.btn-plus:hover {
    text-decoration: none;
}

.btn-order {
    background-color: var(--bg-navbar-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.btn-order p.font-14{
    text-transform: uppercase;
}

.btn-order p.font-10{
    font-weight: normal;
}

.btn-order:hover,
.btn-order:focus,
.btn-order:active {
    color: var(--bg-navbar-color);
    border: 1px  solid var(--bg-navbar-color);
    background-color: var(--bg-navbar-color);
    text-decoration: none;
    outline: unset;
    box-shadow: unset;
}

.cart-form .form-control {
    font-size: var(--font-size);
    color: #141414;
    border: 1px solid #8A8A8A;
    padding-left: 20px;
}

.cart-form .form-control:focus {
    font-size: var(--font-size);
    color: #141414;
    border: 1px solid var(--bg-navbar-color);
    padding-left: 20px;
}

.cart-form .form-check.checkVAT {
    font-size: var(--font-size);
    margin-bottom: 0;
    margin-left: 1.6rem;
}

.cart-form .check-vat-form {
    display: none;
    visibility: none;
}

.cart-form .checkVAT input:checked~.check-vat-form {
    display: block;
    visibility: visible;
}

.cart-form .form-check-label {
    cursor: pointer;
}

.c-form-check input[type=radio] {
    display: none;
}

.c-form-check label {
    display: block;
    position: relative;
}

.c-form-check label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -36px;
    background-color: white;
    border: 1px solid #707070;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.c-form-check input[type=radio]:checked~label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -36px;
    background-image: url('../assets/2906/Group 2821.png');
    width: 13px;
    height: 13px;
    border: unset;
}

/* San pham */
.product-discount {
    display: block;
}

.product-discount .owl-theme .owl-dots {
    display: none;
}

.product-discount .owl-carousel .owl-nav button.owl-next,
.product-discount .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 40%;
    margin: 0 auto;
    color: rgba(87, 143, 225, 1);
    background-color: rgba(87, 143, 225, .1);
    padding: 6px 12px 10px 12px !important;
    border: none;
}

.product-discount .owl-carousel .owl-nav button.owl-next:active,
.product-discount .owl-carousel .owl-nav button.owl-prev:active,
.product-discount .owl-carousel .owl-nav button.owl-next:focus,
.product-discount .owl-carousel .owl-nav button.owl-prev:focs {
    border: none;
}

.product-discount .owl-carousel .owl-nav button.owl-next {
    right: -42px;
}

.product-discount .owl-carousel .owl-nav button.owl-prev {
    left: -42px;
}

.product-discount .bg-discount {
    height: 74px;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-discount .bg-discount h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.product {
    border-radius: 0px !important;
    background-color: #FFFFFF !important;
    border: none !important;
    border-right: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    overflow: hidden;
    padding: 0 .15rem !important;
}

.product-option .nav-item {
    max-height: 60px;
    width: 23%;
    margin-bottom: 10px;
    margin-right: 12px;
}

.product-option .nav-item:nth-child(4n) {
    margin-right: 0;
}

.product-option .nav-link {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.product-option .nav-link p {
    color: var(--text-color);
    font-size: 14px !important;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 16px;
}

.product-option .nav-link p::before {
    content: "";
    position: absolute;
    left: 6px;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    border-radius: 50%;
}

.product-option .nav-link.active p::after,
.product-option .nav-link:hover p::after,
.product-option .nav-link:active p::after {
    content: "\2713";
    position: absolute;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    top: calc(50%);
    transform: translate(0, -50%);
    background-color: #158d1e;
}

.product-option .list_attributes .nav-link span.font-12.text-danger {
    font-size: 14px !important;
    color: #333 !important;
}

.product-option .list_attributes .nav-link.active,
.product-option .list_attributes .nav-link:active,
.product-option .list_attributes .nav-link:hover {
    border: 1px solid #f89008;
    border-radius: 3px;
    font-weight: bold;
    background-color: #fffbf5;
}

.btn-order {
    width: 100%;
    text-align: center;
    background-color: var(--bg-navbar-color);
    border: 1px  solid var(--bg-navbar-color);
}

.product-details .product-img {
    border: 1px solid var(--bg-navbar-color);
    border-radius: 3px;
    height: 73px;
    width: 80px;
    object-fit: cover;
    object-position: 50% 50%;
}

#tab .nav-link.active .product-img,
#tab .nav-link:active .product-img {
    border: 1px solid #ffa024;
}

#tab .nav-link p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    color: #141414;
}

#tab .nav-link.active p,
#tab .nav-link:active p {
    font-weight: bold;
}

.product-details .product-img:hover {
    border: 1px solid #ffa024;
}

.product-details .product-detail {
    display: flex;
    flex-direction: column;
    height: 73px;
    width: 73px;
    color: var(--bg-navbar-color);
    padding: auto;
    justify-content: center;
    align-items: center;
}

.product-details .product-detail:hover {
    text-decoration: none;
}

.product-details .discount .card-header {
    background-color: var(--bg-navbar-color);
    border: 1px solid var(--bg-navbar-color);
}

.product-details .discount .card-header span {
    font-size: 13px;
    margin-left: 6px;
    text-transform: uppercase;
    color: #fff;
}

.product-details .discount .card-body span {
    font-size: 14px;
    color: #333;
    text-align: left;
    letter-spacing: 0px;
}

.steps-section {
    background: #EFF6FF 0% 0% no-repeat padding-box !important;
    margin-bottom: .5rem;
}

.product-details .discount span.step {
    font-size: 10px;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    color: white;
    margin-right: 16px;
    text-align: center;
}

.product-details .discount span.step.bg-warning {
    background-color: var(--bg-navbar-color) !important;
}

.product:focus,
.product.focus {
    border-radius: 0px !important;
    border-color: var(--bg-navbar-color);
}

.dp-owl-carousel .owl-nav {
    margin-top: 0 !important;
}

.product .discount-status-none {
    visibility: hidden;
}

.product .discount-status {
    height: 20px;
    padding: 0 .5rem;
}

.product .discount-status img {
    height: 100%;
    width: auto !important;
}

.product .product-name {
    font-size: var(--font-size);
    color: #333;
    font-weight: 500;
    height: 42px;
    margin-top: 8px;
    padding: 0 .5rem;
    text-decoration: none;
}

.product .product-name span {
	font-weight: normal;
}

.product .product-name:hover {
    text-decoration: none;
}


.product .product-price {
    font-size: var(--font-size-big);
    font-weight: bold;
    color: var(--text-danger-2);
}

.product .product-price del{
    color: #929292;
}

.product-price del{
    color: #929292;
    font-size: 14px;
    color: #666;
}

.product-price span.text-danger {
    font-size: 14px;
    display: inline-block;
    color: #d0021b !important;
    margin-left: 5px;
    font-weight: 400;
}

.product .product-d-none {
    visibility: hidden;
}

.product .product-d-price {
    font-size: var(--font-size);
    text-decoration-line: line-through;
    color: #999;
}

.product .product-d-discount {
    font-size: var(--font-size);
    /* font-weight: bold; */
    color: var(--text-danger-2);
    margin-left: 10px !important;
}

.product .product-star {
    display: flex;
    align-items: center;
    color: var(--menu-item-color);
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.product .product-star img {
    display: inline-block !important;
    margin-left: 3px;
    width: 12px !important;
}

.product .product-cmt {
    font-size: var(--font-size-small);
    margin-top: 10px;
    margin-left: 5px;
    color: #666;
}

.devices .devices-nav {
    border-bottom: 2px solid var(--bg-navbar-color);
    height: 42px;
}

.devices .devices-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-right: 1px solid white;
    border-top: unset;
}

.devices .devices-nav .nav-item:last-child {
    border-right: unset;
    border-top: unset;
}

.devices .devices-nav .nav-link.active,
.devices .devices-nav .nav-link:active {
    font-size: var(--font-size-small);
    font-weight: bold;
    background-color: var(--bg-navbar-color);
    color: white;
}

.devices .devices-nav .nav-link {
    font-size: var(--font-size-small);
    color: #333;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.show-hide-text p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.outstanding-features.show p {
    display: block;
}

/*Danh mục*/
.catalog-des {
    box-shadow: 0 1px 0 0 inset #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    text-align: justify;
}

.catalog-des p, .catalog-des li, .catalog-des a {
    font-size: 14px;
}

/* Chi tiet san pham */
.card.discount {
    border: 0;
}

.card.discount .card-body {
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    border-top: unset;
}

.product-name {
    font-size: var(--font-size-biggest);
}

.cmt-num {
    font-size: var(--font-size-bigger);
}

.btn-socials a {
    display: flex;
    color: white;
    background-color: var(--btn-color);
    border-radius: 5px;
    font-size: var(--font-size);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-socials a:first-child {
    display: flex;
    color: white;
    background-color: var(--bg-navbar-color);
    border-radius: 5px;
    font-size: var(--font-size);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-socials a:hover {
    display: flex;
    background-color: var(--bg-navbar-color);
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.btn-more {
    display: inline-block;
    font-size: var(--font-size);
    color: var(--bg-navbar-color);
    border: 1px solid var(--bg-navbar-color);
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
}

.btn-more:hover,
.btn-more:focus {
    color: var(--bg-navbar-color);
}

.btn-send {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.tech-section {
    color: var(--text-dark-2);
}

.tech-section h6 {
    margin-bottom: 16px;
}

.tech-section ul {
    padding: 0;
}

.tech-section .tr {
    display: none;
    align-items: center;
    width: 100%;
    padding: .6rem .8rem;
    margin: 0;
}

.tech-section .tr span {
    margin: 0 12px;
}

.tech-section .tr:nth-child(odd) {
    background-color: var(--bg-nav);
}

.tech-section .tr:nth-child(-n+5) {
    display: flex;
}

.evaluation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.evaluation .eval-index {
    display: flex;
    align-items: center;
    color: #141414;
    font-size: 14px;
    width: 33px;
}

.evaluation .eval-progress {
    width: 40%;
    background-color: rgba(239, 166, 37, .3);
}

.evaluation .eval-progress .progress-bar {
    background-color: #EFA625;
}

.evaluation .eval-percent {
    color: rgba(239, 166, 37, 1);
    font-weight: bold;
    width: 33px;
    text-align: right;
}

.evaluation .eval-percent small {
    font-size: 10px;
    float: inline-start;
}

.evaluation .eval-num {
    color: #141414;
    border-left: 1px solid rgba(112, 112, 112, 1);
    padding-left: 20px;
    width: 122px;
    text-align: left;
}

/*Tin tức*/
.fh-news .h-news {
    position: relative;
}

.fh-news .h-flag {
    display: flex;
    align-items: start;
    position: absolute;
    text-align: center;
    width: 0px;
    height: 0px;
    top: 0;
    z-index: 5;
    border-bottom: 6px solid transparent;
    border-top: 18px solid red;
    border-left: 10px solid red;
    border-right: 10px solid red;
}

.fh-news .h-index {
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 8px;
    color: white;
    z-index: 10;
    font-size: 12px;
}

.fh-news .h-news img {
    width: 100%;
    max-height: 91px;
    object-fit: cover;
    object-position: 50% 50%;
}

.fh-news .fh-news-img {
    max-height: 423px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.fh-news .fh-news-title,
.fh-news .fh-news-excerpt,
.fh-news .fh-news-excerpt p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

.news-video a,
.news-video a:hover {
    text-decoration: none;
    color: var(--text-color);
}

.news-video .nv-title {
    font-size: var(--font-size-bigger);
    font-weight: bold;
    text-align: justify;
    color: #333;
}

.news-video .nv-title-small {
    font-size: 16px;
    text-align: justify;
    color: #333;
}

.news-video .nv-body {
    font-size: var(--font-size);
}

.news-video .nv-body p {
    font-size: var(--font-size);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.star {
    cursor: pointer;
}

.video-popup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    display: flex;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: -6px 6px 9px 1px rgb(0, 0, 0);
}

.o-video {
    width: 58%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
}

.o-content {
    width: 42%;
    height: 100%;
    padding: 1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 1rem;
}

.o-content::-webkit-scrollbar {
    width: 6px;
}

.o-content::-webkit-scrollbar-track {
    background: var(--bg-color);
}

.o-content::-webkit-scrollbar-thumb {
    background: var(--bg-navbar-color);
}

.o-content::-webkit-scrollbar-thumb:hover {
    background: var(--bg-navbar-color-2);
}

.pre-img-carousel .item img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 330px !important;
}

.pre-img-carousel .item.video-item {
    position: relative;
}

.pre-img-carousel .item.video-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255);
}

.pre-img-carousel .item.video-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 22px solid white;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
}

.overlay .close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #FFFFFF;
    font-size: 60px;
}

#img-preview {
    position: fixed;
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#img-preview .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
    font-weight: 900;
}

#img-preview .container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#img-preview .pre-carousel .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0;
    left: 0;
    width: 100%;
    right: 0;
    top: 45%;
    transform: translate(0, 50%);
}

#img-preview .pre-carousel .owl-nav .owl-next,
#img-preview .pre-carousel .owl-nav .owl-prev {
    display: flex;
    align-items: center;
}

#img-preview .pre-carousel .owl-nav button {
    position: absolute;
}

#img-preview .pre-carousel .owl-nav .owl-next {
    right: -100px;
}

#img-preview .pre-carousel .owl-nav .owl-prev {
    left: -100px;
}

#img-preview .pre-carousel .owl-nav button i {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 3px;
    padding: 10px;
    color: white;
}

#video-preview {
    position: fixed;
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
}

#video-preview .container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#video-preview .close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: white;
    font-weight: 900;
    font-size: 60px;
}

#video-preview .pre-carousel .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0;
    left: 0;
    width: 100%;
    right: 0;
    top: 40%;
}

#video-preview .pre-carousel .owl-nav .owl-next,
#video-preview .pre-carousel .owl-nav .owl-prev {
    display: flex;
    align-items: center;
}

#video-preview .pre-carousel .owl-nav button {
    position: absolute;
}

#video-preview .pre-carousel .owl-nav .owl-next {
    right: -100px;
}

#video-preview .pre-carousel .owl-nav .owl-prev {
    left: -100px;
}

#video-preview .pre-carousel .owl-nav button i {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 3px;
    padding: 10px;
    color: white;
}

@media (max-width: 1199.99px) {
    .overlay-content {
        width: 90%;
    }
}

/*Responsive*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    /* .branch-input {
        width: 100% !important;
    } */
    .search-input {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .form-group {
        width: 100%;
    }

    .branch-input {
        width: 100% !important;
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .search-input {
        width: var(--search-md-input-w);
    }

    .header-menu {
        justify-content: center;
    }

}

@media (max-width: 992px) {
    .product-discount .owl-theme .owl-dots {
        display: block;
        margin-top: 10px;
    }

    .product-discount .owl-theme .owl-nav {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .search-input {
        width: var(--search-lg-input-w);
    }
}

.ts-table ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.ts-table ul li {
    display: none;
    align-items: center;
    padding: 8px;
    font-size: var(--font-size);
}

.ts-table ul li:nth-child(odd) {
    background-color: #eff6ff;
}

.ts-table ul li:nth-child(-n+5) {
    display: flex;
}

.ts-modal-table ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.ts-modal-table ul li,
.ts-modal-table ul li.tr {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: var(--font-size);
}

.ts-modal-table ul li:nth-child(odd) {
    background-color: #eff6ff;
}

#carousel-1.owl-carousel.owl-loaded {
    display: none;
}

.cat-chevron {
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

.cat-chevron .fa-chevron-right {
    margin-left: .25rem;
    font-size: 10px;
}

input:focus::-webkit-input-placeholder, 
textarea:focus::-webkit-input-placeholder,
input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
    color: transparent;
}

textarea:focus::placeholder, 
textarea:focus::-moz-placeholder, 
input:focus::placeholder,
input:focus::-moz-placeholder {
    color: transparent;
}

.bg-f8 {
    background-color: #f8f8f8
}

.filter-icon {
    display: none;
}

.policy_intuitive {
    margin: 0 0 10px 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}

.policy_intuitive h4{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1rem;
    color: #333;
}

.policy_intuitive ul.policy_new {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.policy_intuitive ul.policy_new li {
    margin: 8px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
}

.policy_intuitive ul.policy_new li:last-child {
    padding-bottom: 0;
    border-bottom: unset;
}

.policy_intuitive ul.policy_new li>span {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-right: .5rem;
    padding: 3px;
    width: 35px;
    max-width: 35px;
    color: #333;
}

.policy_intuitive ul.policy_new li>span i {
    display: block;
    width: 29px;
    height: 29px;
}

.policy_intuitive ul.policy_new li>p {
    flex: 1;
    font-size: 14px;
    margin-bottom: 0;
    color: #333;
}

.policy_intuitive ul.policy_new li>p a b {
    font-weight: normal;
    color: #333;
}

.post-content-open {
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.post-content-open::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 85%,rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(85%,rgba(255,255,255,.8)),color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 85%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 85%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 85%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 85%,rgba(255,255,255,1) 100%);
    z-index: 1;
}

.post-content-opened {
    color: var(--bg-navbar-color) !important;
}

.video-pop.post_video.first::before {
    content: "";
    position: absolute;
    top: calc(50% - 54px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255);
}

.video-pop.post_video {
    position: relative;
}

.video-pop.post_video.first::after {
    content: "";
    position: absolute;
    top: calc(50% - 54px);
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 26px solid white;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

.post_video_thumb {
    position: relative;
}

.post_video_thumb::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% + 15px);
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255);
}

.post_video_thumb::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% + 18px);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 12px solid white;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
}

[class^="icondetailV3-"], [class*="icondetailV3-"] {
    background-image: url('/wp-content/uploads/2020/08/productV3.png');
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.icondetailV3-ld-new {
    background-position: -85px -271px;
    width: 28px;
    height: 28px;
}

.icondetailV3-1d1-new {
    background-position: -123px -274px;
    width: 33px;
    height: 25px;
}

.icondetailV3-dt-new {
    background-position: -19px -270px;
    width: 29px;
    height: 29px;
}

.icondetailV3-bh-new {
    background-position: -53px -271px;
    width: 24px;
    height: 28px;
}

.devices-container {
    position: relative;
}

.devices-container::before {
    position: absolute;
    content: "";
    width: 1px;
    top: 0;
    left: 0;
    height: calc(100% - 63px);
    background-color: #eee !important;
    z-index: 1;
}

.devices-container .cat-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .5);
}

.devices-container .cat-loading img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 60px;
    transform: translate(-50%, 0);
    background-color: transparent;
}
.content-box p{
    text-decoration: none;
}
.content-box a:first-child {
    color: #333;
    text-decoration: none;
    overflow: hidden;
}

.hethongdsieuthi2 .right .info-items img {
    width: 100%;
    margin-bottom: .5rem;
}

a[href="#catalog-des-field"] ,
a.catalog-des-btn {
    background-color: #fff;
    color: var(--bg-navbar-color);
    border: 1px solid var(--bg-navbar-color);
    border-radius: 5px;
    padding: .5rem 1.2rem;
}

.catalog-des-field {
    max-height: 250px;
    overflow: hidden;
}

.text-primary {
    color: var(--bg-navbar-color) !important;
}

#subft i {
    color: var(--bg-navbar-color);
}

.checkout .card.border-primary.border-bottom-0 {
    border-color: var(--bg-navbar-color) !important;
}

.woocommerce div.product {
    padding-left: 1rem !important;
}

a[href^="step-"],
a[href*="step-"] {
    color: #333;
}

.muc_luc_header .btn-link.btn-block {
    background-color: var(--bg-navbar-color);
    color: #fff;
    text-decoration: none !important;
}

.muc_luc_header .btn-link.btn-block:hover {
    text-decoration: none !important;
    border: 1px solid var(--bg-navbar-color);
}