:root {
    --bg-color: #F8F8F8;
    --bg-img: url(../assets/product_group.png);
    --bg-navbar-color: #f30000;
    --bg-navbar-color-2: #ba2222;
    --bg-nav: #EFF6FF;
    --search-lg-input-w: 430px;
    --search-md-input-w: 250px;
    --font-size-bigger: 18px;
    --font-size-big: 16px;
    --font-size: 14px;
    --font-size-small: 12px;
    --font-size-10px: 10px;
    --font-size-smaller: 9px;
    --menu-item-color: #F8D43A;
    --text-color: #1b1b1b;
    --discount-status-color: #ED1C24;
    --bg-keyword-color: #EFEFEF;
    --bg-footer-2: #EFEFEF;
    --text-color: #333;
    --text-color-2: #333;
    --text-secondary-2: #D1D1D1;
    --text-danger-2: rgba(237, 28, 36, 1);
    --btn-color: #0547A8;
    --btn-color-2: #0547A8;
}

.text-blue-2 {
    color: var(--bg-navbar-color) !important;
}

.text-green-1 {
    color: #459b43 !important;
}

.text-dark-2 {
    color: var(--text-color-2) !important;
    text-decoration: none !important;
}

.text-dark-3 {
    color: #333 !important;
    text-decoration: none !important;
}

.text-dark-4 {
    color: #666 !important;
    text-decoration: none !important;
}

.text-dark-5 {
    color: #999 !important;
    text-decoration: none !important;
}

.bg-grey {
    background-color: var(--bg-color);
}

.bg-nav {
    background-color: var(--bg-nav);
}

.bg-blue {
    background-color: var(--bg-navbar-color-2) !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: var(--font-size-small) !important;
}

.font-14 {
    font-size: var(--font-size) !important;
}

.font-18 {
    font-size: var(--font-size-bigger) !important;
}

.font-21 {
    font-size: 21px;
}

.font-20 {
    font-size: 20px !important;
}

.line-1,
.line-1>p,
.line-1>p>span,
.line-1>span,
.line-1>h2,
.line-1>h3,
.line-1>h4,
.line-1>h5,
.line-1>h6 {
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2>p,
.line-2>p>span,
.line-2>span,
.line-2>h2,
.line-2>h3,
.line-2>h4,
.line-2>h5,
.line-2>h6 {
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3>p,
.line-3>p>span,
.line-3>span,
.line-3>h2,
.line-3>h3,
.line-3>h4,
.line-3>h5,
.line-3>h6 {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.border-bottom {
    border-bottom: 1px solid #f0f0f0 !important;
}

.border-top {
    border-top: 1px solid #f0f0f0 !important;
}

.border-left {
    border-left: 1px solid #f0f0f0 !important;
}

.border-right {
    border-right: 1px solid #f0f0f0 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333;
}